@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Toy Rental</h1>
    <p class="lead">Welcome to our Toy Rental Online Page. In our website, you have the possibilitiy to see all available toys without beeing in our store. The states and the availability of the toys is always up to date. (Below are all possible MLZ szenarios listed)</p>
    <p>@Html.ActionLink("Sign Up Now", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" , @class = "btn btn-primary btn-lg" }) &raquo;</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Szenario 1</h2>
        <p>
            As an unregistered user, you have the possibility to surf in our Web Page. As a unregistered user, you can see all available toys and you can also see toy details.
        </p>
        <p>@Html.ActionLink("See our Toys", "Index", "Toys", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-lg" }) &raquo;</p>

    </div>
    <div class="col-md-4">
        <h2>Szenarios 2</h2>
        <p>As a registered user, you have the possibility to surf in our Web Page, see all available toys and it's details. Additionally, you can do an online reservation of the available toys.</p>
        <p>@Html.ActionLink("Login Now", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-lg" }) &raquo;</p>

    </div>
    <div class="col-md-4">
        <h2>Szenario 3</h2>
        <p>As an administrator, you have the control over all possible functionalities in your online toy rental. As an administrator, you have the authorization to manage toys, conditions, pictures, reservations, etc. (Only visible, because MLZ!!! Admin user is admin@gmail.com -> PW: @@Dministrator1)</p>
        <p>@Html.ActionLink("Login Now", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-lg" }) &raquo;</p>

    </div>
</div>