@model Spielzeugverleih.Models.Toy

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<h3>No Condition defined. Please add conditions before adding toys!!!</h3>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
