@model Spielzeugverleih.Models.Toy

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Toy is still used. This Toy can't be deleted!!!</h3>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
