@model Spielzeugverleih.Models.Condition

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Condition is still used. This condition can't be deleted!!!</h3>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
