@model Spielzeugverleih.Models.Reservation

@{
    ViewBag.Title = "Reservation";
}

<h2>Delete</h2>

<h3>The selected Toy is already rented.</h3>
<p>
    @Html.ActionLink("Back to Toy List", "Index", "Toys")
</p>
