<h1>Stop</h1>

@{
    if (ViewBag.Sekunden < 10) {
        <p>Der Lastwagen wird in 7 Sekunden eine Notbremse ausführen.</p>
    }
    else {
        <p>Der Lastwagen wird in 20 Sekunden anhalten.</p>
    }
}
